# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environment
# =========================
venv/
env/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# TensorBoard / training logs
# =========================
log/
logs/
log_fit/
events.out.tfevents.*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# IDE settings
# =========================
.vscode/
.idea/

# =========================
# Streamlit cache
# =========================
.streamlit/

# =========================
# Temporary files
# =========================
*.log
*.tmp
*.bak
